h1 {
    text-align: center;
}

div {
    margin: 5px;
}

table {
    border-collapse: collapse;
    margin: 15px;
}

#cryptoTable {
    margin:auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

.td-right {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

.clearfix {
    overflow: auto;
}
.float-right {
    float: right;
}

#signature {
    text-align: right;
}