@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

table {
  margin: 10px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

.td-right {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}
